{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<script src="{% url 'js-catalog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<script>
    $(function () {
      $("#id_date").datetimepicker({
        format: 'd/m/Y H:i',
      });
    });
  </script>
<link rel="stylesheet" href="{% static 'admin/css/widgets.css'%}">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Booking</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <h3 class="logo-font">Pick a time for your {{ service.name}} with {{ barber.first_name }}</h3>
                            <form method="POST" action="{% url 'booking' %}?service-id={{service.id}}&barber-id={{barber.id}}">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                                <button type="submit">
                                    Book
                                </button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

products/static/js/jquery.js